body{
    background-color:white;
}
h1{
    color:black;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-style: cursive;


}
img{
    padding: 30px;
    margin: 0px;
}
.jumbotron{
    padding-top: 0px;
    padding-bottom: 0px;
}

img{
    border: 10px
}
#pic{
    margin-left: 60px
}
#pictures {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;
 }

 #pictures img {
   /* Just in case there are inline attributes */
   width: 80% !important;
   height: auto !important;
 }

 @media (max-width: 1200px) {
   #pictures {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
   }
 }
 @media (max-width: 1000px) {
   #pictures {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
   }
 }
 @media (max-width: 800px) {
   #pictures {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 400px) {
   #pictures {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
   }
 }

 body {
   margin: 0;
   padding: 0;
 }
 img{
     padding: 12px;
     margin: 40px
 }
 p{
     text-align: center;
     margin-bottom: 22px;

 }

header{
    background: #55d6aa;
    opacity: .9;
  }


   header::after {
     content: "";
     display: table;
     clear: both;
   }


    nav{
     float: right;
    }


  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }


  nav li {
    display: inline-block;
    margin: 30px;
    position: relative;
  }


  nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }


  nav a:hover{
  color: black;
  }


  nav a::before{
    content: "";
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 500ms;
  }


  nav a:hover::before{
    width: 100%;
  }


  .logo{
    height: 100px;
    width: 250px;
    float: left;
    padding: 5px;
    border-radius: 10px;

  }
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: cornsilk;
    color: #333;
  }

  a {
    text-decoration: none;
  }

  .button {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    background: steelblue;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }

  .container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }

  .header {
    overflow: hidden;
    height: 65px;
  }

  .header a {
    color: inherit;
  }

  .header a:hover {
    font-weight: bold;
  }

  .header-logo {
    float: left;
  }

  .header-nav {
    float: right;
  }

  .header-nav ul li {
    display: inline-block;
    margin: 0 20px;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 310px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: ;
  }


  .product span {
    font-weight: bold;
  }

  .product-image img {
    display: block;
    max-width: 228px;
    width: 100%;
    margin: 0 auto;
  }

  .
  .row .product:last-child {
    margin-right: 0;
  }

  .product-add-to-cart {
    overflow: hidden;
    clear: both;
    margin-top: 10px;
  }

  .see-more {
    float: left;
    background: indianred;
  }

  .add-to-cart {
    float: right;
  }

  .shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    min-heigh: 300px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 20px;
    background:#55d6aa;
  }

  .shopping-cart-head {
    background: steelblue;
    color: white;
    padding: 5px;
  }

  .shopping-cart,
  .shopping-cart-head {
    border-radius: 5px;
  }

  .empty-cart-btn,
  .cart-checkout {
    display: none;

  }

  .empty-cart-btn {
    margin-bottom: 5px;
  }

  .cart-checkout {
    background: limegreen;
  }
